<!DOCTYPE html>


<html lang="en">

	<head>
 
		{{>head}}
  
		<title>Travel Share</title>

	</head>

	<body style='background-image: url(beach.jpg); background-size:cover ; background-size: 100%'> 


		{{>bsnavbar}}


		<div class="container">

		{{{body}}}

		</div>


		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


	</body>

</html>
